<template>
    <div>
        Hello and welcome to your (empty) dashboard.
    </div>
</template>
<script>
    export default {
        data(){
            return {

            }
        },
        methods: {

        }
    }
</script>