<template>
    <div id="login" class="d-flex justify-content-center">
        <div class="card align-self-center">
            <div class="card-body">
                <div class="alert alert-danger" v-if="error">
                    <p>There was an error, unable to sign in with those credentials.</p>
                </div>
                <form autocomplete="off" @submit.prevent="login" method="post">
                    <div class="form-group">
                        <label for="email">E-mail</label>
                        <input type="text" id="email" class="form-control" placeholder="user@example.com" v-model="email" required>
                    </div>
                    <div class="form-group">
                        <label for="password">Password</label>
                        <input type="password" id="password" class="form-control" v-model="password" required>
                    </div>
                    <button type="submit" class="btn btn-default">Sign in</button>
                </form>
            </div>
        </div>

    </div>
</template>
<script>
    export default {
        data(){
            return {
                email: "giliweb.it@gmail.com", // static value for testing purpose
                password: "secret", // static value for testing purpose
                error: false
            }
        },
        methods: {
            login(){
                axios.post('/ajax/login', {
                    email: this.email,
                    password: this.password
                }).then(response => {
                    this.$emit('login', response.data);
                });
            },
        }
    }
</script>