<template>
    <nav class="navbar navbar-expand-lg navbar-light">
        <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarNav" aria-controls="navbarNav" aria-expanded="false" aria-label="Toggle navigation">
            <span class="navbar-toggler-icon"></span>
        </button>
        <div class="collapse navbar-collapse" id="navbarNav">
            <ul class="navbar-nav nav-fill">
                <li class="nav-item">
                    <router-link to="/dashboard" class="nav-link">Dashboard</router-link>
                </li>
                <li class="nav-item" v-if="user.role_id === 1"> <!-- only for admins -->
                    <router-link to="/users" class="nav-link">Users</router-link>
                </li>
                <li class="nav-item" v-if="user.role_id === 1"> <!-- only for admins -->
                    <router-link to="/requests" class="nav-link">Requests</router-link>
                </li>
                <li class="nav-item" v-else>
                    <router-link :to="'/requests/' + user.id" class="nav-link">Requests</router-link>
                </li>
                <li class="nav-item">
                    <router-link :to="'/requests/new/' + user.id" class="nav-link">Create new request</router-link>
                </li>
                <li class="nav-item float-right">
                    <a class="nav-link" href="#" @click="logout">Logout</a>
                </li>
            </ul>
        </div>
    </nav>
</template>
<script>
    export default {
        data(){
            return {

            }
        },
        props: ['user'],
        mounted(){

        },
        methods: {
            logout(){
                axios.get('ajax/logout').then(() => {
                    this.$emit('logout');
                });
            }
        }
    }
</script>