<template>
    <div>
        <list :config="config"></list>
    </div>
</template>
<script>
    export default {
        data(){
            let actions;
            if(this.$root.user.role_id === 1){ // admin-only buttons
                actions = [
                    {
                        cmd: (item) => {
                            return axios.post('/ajax/request/approve/' + item.user_id + '/' + item.id);
                        },
                        title: 'approve'
                    },
                    {
                        cmd: (item) => {
                            return axios.post('/ajax/request/disapprove/' + item.user_id + '/' + item.id);
                        },
                        title: 'disapprove'
                    }
                ];
            } else {
                actions = [ // user-only buttons
                    {
                        cmd: (item) => {
                            return axios.post('/ajax/request/cancel/' + item.user_id + '/' + item.id);
                        },
                        title: 'cancel'
                    },
                ];
            }


            return {
                availableRequestTypes: [],
                config: {
                    dataUrl: '/ajax/requests/' + (this.user_id ? this.user_id : ""),
                    columns: [
                        {
                            type: 'actions',
                            actions: actions,
                            label: ''
                        },
                        {
                            name: 'id',
                            label: 'ID'
                        },
                        {
                            name: 'name',
                            label: 'Name'
                        },
                        {
                            name: 'request_id',
                            label: 'Type',
                            mapping: this.$root.requestTypes
                        },
                        {
                            name: 'office_location_id',
                            label: 'Place',
                            mapping: this.$root.officeLocations
                        },
                        {
                            name: 'from',
                            label: 'From'
                        },
                        {
                            name: 'to',
                            label: 'To'
                        },
                        {
                            name: 'hours',
                            label: 'Hours'
                        },
                        {
                            name: 'status',
                            label: 'Status',
                            mapping: [
                                {
                                    id: "0",
                                    name: 'PENDING'
                                },
                                {
                                    id: "1",
                                    name: 'APPROVED'
                                },
                                {
                                    id: "2",
                                    name: 'NOT APPROVED'
                                },
                                {
                                    id: "3",
                                    name: 'CANCELED'
                                },
                            ]
                        }
                    ],
                    filters: [
                        {
                            columnName: 'request_id',
                            values: this.$root.requestTypes
                        }
                    ]
                }
            }
        },
        props: ['user_id'],
        beforeMount(){

        },
        mounted(){

        }
    }
</script>