<template>
    <div v-if="userRequest">
        <div class="text-right">{{this.user ? this.user.name : "&nbsp;"}}</div>
        <div class="form-group">
            <label>Request type</label>
            <select v-model="userRequest.request_id" class="form-control">
                <option v-for="request in availableRequestTypes" :value="request.id">{{request.name}}</option>
            </select>
        </div>

        <div class="form-group" v-if="availableFields.indexOf('office_location_id') !== -1">
            <label>Place</label>
            <select v-model="userRequest.office_location_id" class="form-control">
                <option v-for="location in officeLocations" :value="location.id">{{location.name}}</option>
            </select>
        </div>

        <div class="form-group" v-if="availableFields.indexOf('from') !== -1">
            <label>Date from</label>
            <input type="text" class="form-control" v-model="userRequest.from" :readonly="request_id">
        </div>

        <div class="form-group" v-if="availableFields.indexOf('to') !== -1">
            <label>Date to</label>
            <input type="text" class="form-control" v-model="userRequest.to" :readonly="request_id">
        </div>

        <div class="form-group" v-if="availableFields.indexOf('hours') !== -1">
            <label>How many hours</label>
            <input type="text" class="form-control" v-model="userRequest.hours" :readonly="request_id">
        </div>

        <div class="mt-5">
            <button class="btn btn-success" @click="save">Save</button>
        </div>

    </div>
</template>
<script>
    export default {
        data(){
            return {
                userRequest: null,
                availableRequestTypes: this.$root.requestTypes,
                officeLocations: this.$root.officeLocations,
                subjectType: "date_range",
                user: null,
                availableFields: []
            }
        },
        props: ['request_id', 'user_id'],
        mounted(){
            // empty userRequest structure
            this.userRequest = {
                from: '2018-09-14 00:00:00',
                to: null,
                hours: null,
                user_id: this.user_id
            };

            // fetch user data
            axios.get('/ajax/user/' + this.user_id).then(response => {
                this.user = response.data;
            });


            if(this.request_id){
                this.fetchRequestDetails();
            }
        },
        methods: {
            fetchRequestDetails(){
                // TODO: fetch userRequest details to edit it
            },
            /**
             * create the user request
             * TODO: adapt this function for the edit functionality
             */
            save(){
                axios.post('/ajax/request/save', this.userRequest).then(response => {
                    if(response.data.id){
                        this.$router.push('/requests/' + this.user_id);
                    }
                });
            },

        },
        watch: {
            /**
             * this watcher is needed to update the date from/to fields and hours fields, since each request type relies on different parameters
             */
            'userRequest.request_id': function(){
                let rules = _.find(this.$root.requestTypes, {id: this.userRequest.request_id}).rules;
                this.availableFields = _.keys(rules);
                console.log(this.availableFields);
            }
        }
    }
</script>