<!-- This is just a splash screen shown while the app loads necessary data in the background -->
<template>
    <div>
        Splash
    </div>
</template>
<script>
    export default {
        data(){
            return {

            }
        },
        methods: {

        }
    }
</script>