<template>
    <div>
        <button @click="newUser" class="btn btn-primary">Create new user</button>
        <list :config="config"></list>
    </div>
</template>
<script>
    export default {
        data(){
            return {
                config: {
                    dataUrl: '/ajax/users',
                    columns: [
                        {
                            type: 'actions',
                            actions: [
                                {
                                    cmd: '/users/edit',
                                    title: 'edit'
                                },
                                {
                                    cmd: '/requests/new',
                                    title: 'new request'
                                },
                                {
                                    cmd: '/requests',
                                    title: 'requests'
                                }
                            ],
                            label: ''
                        },
                        {
                            name: 'id',
                            label: 'ID'
                        },
                        {
                            name: 'name',
                            label: 'Name'
                        },
                        {
                            name: 'email',
                            label: 'Email'
                        },
                        {
                            name: 'role_id',
                            label: 'Role',
                            mapping: this.$root.roles
                        }
                    ],
                }
            }
        },
        mounted(){

        },
        methods: {

            newUser(){
                this.$router.push({ path: '/users/new' });
            }
        }
    }
</script>