<template>
    <div v-if="user">
        <div class="form-group">
            <label for="name">Name</label>
            <input type="text" id="name" class="form-control" v-model="user.name" :readonly="user_id">
        </div>
        <div class="form-group">
            <label>E-mail</label>
            <input type="text" class="form-control" v-model="user.email" :readonly="user_id">
        </div>
        <div class="form-group">
            <label>Role</label>
            <select v-model="user.role.id" :readonly="user_id" class="form-control">
                <option v-for="role in availableRoles" :value="role.id">{{role.name}}</option>
            </select>

        </div>
        <div class="form-group" v-for="feature in user.features">
            <input type="checkbox" v-model="feature.pivot.status" v-bind:true-value="1" v-bind:false-value="0">
            <label>{{feature.name}}</label>
        </div>
        <div>
            <button class="btn btn-success" @click="save">Save</button>
        </div>

    </div>
</template>
<script>
    export default {
        data(){
            return {
                user: null,
                availableRoles: []
            }
        },
        props: ['user_id'],
        mounted(){

            this.availableRoles = this.$root.roles;
            let features = [];
            // populate available features
            this.$root.features.forEach((e) => {
                e.pivot = {
                    status: 0
                };
                features.push(e);
            });
            // empty user object structure
            this.user = {
                role: {},
                features: features
            };

            if(this.user_id){
                this.fetchUserDetails();
            }
        },
        methods: {
            fetchUserDetails(){
                axios.get('/ajax/user/' + this.user_id).then(response => {
                    this.user = response.data;
                });
            },

            /**
             * create user
             * TODO: add edit functionality
             */
            save(){
                let url;
                if(this.user_id){
                    url = '/ajax/user/' + this.user_id;
                } else {
                    url = '/ajax/user/create';
                }
                axios.post(url, this.user).then(response => {

                    if(!this.user_id){
                        this.$router.push({path: '/users/edit/' + response.data.id});
                    } else {
                        this.user = response.data;
                    }
                });
            }
        }
    }
</script>