<template>
    <select v-model="selectedValue" v-on:change="changed">
        <option v-for="item in items" :value="item.id">{{item.name}}</option>
    </select>
</template>
<script>
    export default {
        data(){
            return {
                selectedValue: null,
                items: []
            };
        },
        props: ['config'],
        mounted(){
            axios.get(config.dataUrl).then(response => {
                this.items = response.data;
            });
        },
        methods: {
            changed(){
                this.$emit('onChange', this.selectedValue);
            }
        }
    }
</script>