<!-- Re-usable component to render lists of items -->
<template>
    <div>
        <div v-if="config.filters" class="mb-5">
            <h5>Filters</h5>
            <div v-for="filter in config.filters">
                <select class="form-control col-md-3" v-if="filter.values" v-on:change="applyFilter(filter.columnName, $event)">
                    <option value="">Select...</option>
                    <option v-for="value in filter.values" :value="value.id">{{value.name}}</option>
                </select>
                <input v-else v-on:keypress="applyFilter(filter.columnName, $event)">
            </div>
        </div>
        <table>
            <thead>
                <tr>
                    <th v-for="column in config.columns">
                        {{column.label}}
                    </th>
                </tr>
            </thead>
            <tbody v-if="items != null && items.length > 0">
                <tr v-for="(item, index) in items" v-if="!item.filtered">
                    <td v-for="column in config.columns">
                        <span v-if="column.type === 'actions'">
                            <span  v-for="action in column.actions">
                                <button class="btn btn-sm mr-1 btn-primary" @click="exec(action, item, index)">{{action.title}}</button>
                            </span>
                        </span>
                        <span v-else>
                            {{renderItemColumnValue(column, item)}}
                        </span>
                    </td>
                </tr>
            </tbody>
            <tbody v-else-if="items != null && items.length === 0">
                <tr>
                    <td :colspan="config.columns.length">
                        No data yet
                    </td>
                </tr>
            </tbody>
            <tbody v-else>
                <tr>
                   <td :colspan="config.columns.length">
                       Loading...
                   </td>
                </tr>
            </tbody>
        </table>
    </div>
</template>
<script>
    export default {
        data(){
            return {
                store: null,
                filters: null,
                appliedFilters: {},
                items: null
            }
        },
        props: ['config'],
        mounted(){
            this.fetchData();
        },
        methods: {
            /**
             * @param column
             * @param item
             * @returns {any}
             * renders column value and maps it if necessary
             */
            renderItemColumnValue(column, item){
                let value = eval("item." + column.name);
                if(column.mapping){
                    let m = _.find(column.mapping, ['id', value]);
                    value = m ? m.name : value;
                }
                return value;
            },
            /**
             * @param action
             * @param item
             * @param index
             * used to execute specific actions from the actions column
             */
            exec(action, item, index){
                if(typeof action.cmd === 'string' ){
                    this.$router.push({ path: action.cmd + '/' + item.id });
                } else {
                    action['cmd'](item).then((response) => {
                        this.$set(this.items, index, response.data);
                    });
                }
            },
            /**
             *
             * @param columnName
             * @param e
             * apply or remove a specific filter
             */
            applyFilter(columnName, e){
                let value = e.target.value;
                if(value === ""){
                    delete this.appliedFilters[columnName];
                } else {
                    this.appliedFilters[columnName] = e.target.value;
                }
                this.applyFilters();
            },
            /**
             * update the list rendering accordingly to applied filters
             */
            applyFilters(){
                this.items = [];
                _.forEach(this.store, (storeItem) => {
                    if(!_.isEmpty(this.appliedFilters)){
                        _.forEach(this.appliedFilters, (e, k) => {
                            let v = eval('storeItem.' + k);
                            if(v+"" === e+""){
                                this.items.push(storeItem);
                            }
                        });
                    } else {
                        this.items.push(storeItem);
                    }
                });
            },
            /**
             * asynchronously fetches items according to dataUrl parameter
             */
            fetchData(){
                axios.get(this.config.dataUrl).then(response => {
                    this.store = response.data;
                    this.applyFilters();
                });
            }
        }
    }
</script>
<style>
    table {
        width: 100%;
        border: 1px solid black;

    }
    th {
        text-align: center;
    }
    td, th {
        border: 1px solid black;
        padding: 4px;
    }
    tbody tr:nth-child(odd){
        background: #f0f0f0;
    }
</style>